@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pizzaslice</h1>
    <h2><a class="nav-link text-dark" asp-area="" asp-controller="Pizzas" asp-action="MakeOrder">Start an Order</a></h2>
</div>
