@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pizzaslice!</h1>
    <h5>Just so you know, our pizzas come whole and we do sell other things too..</h5>
    <h3>Continue as guest or signup/login for pizzapoints and use discount coupons!</h3>
    <h2><a class="nav-link text-dark" asp-area="" asp-controller="Locations" asp-action="CreateLocation">Select a Location</a></h2>
    <h3>OR</h3>
    <h2>Enter your Zip Code</h2>
</div>
