@model Pizzaslice.Domain.Models.Location;

@{
    ViewBag.Title = "CreateLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.LocationId</h2>
<h2>@Model.LocationName</h2>
<h2>@Model.LocationAddress</h2>
<h2>@Model.LocationZipCode</h2>
